<!DOCTYPE html>
<html lang="en" xmlns:th="">

<head th:replace="~{fragments/layout.html :: head}"></head>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<main class="container">
  <article class="article-container">
    <h2>
      Základní matematické operace
    </h2>
    <div class="example">
      <p>Příklad: </p>
      <p>2 + 3 = 5 | Pro desetinná čísla použijte tečku. Maximální délka znaků je 500.</p>
    </div>

    <section class="section-container">
      <form action="/basic" method="post">
        <label>
          První číslo
          <input th:field="${basicDTO.number1}" type="text" name="number1" id="number1">
        </label>
        <label>
          Druhé číslo
          <input th:field="${basicDTO.number2}" type="text" name="number2" id="number2">
        </label>
        <label>
          Operace:
          <select class="operation" id="operation" name="operation" th:field="${basicDTO.operation}">
            <option value="+">Součet</option>
            <option value="-">Rozdíl</option>
            <option value="*">Součin</option>
            <option value="/">Podíl</option>
          </select>
        </label>
        <div class="button-container">
          <input type="submit" value="Počítat" />
          <input type="button" value="Prohodit" onclick="swap()" />
          <input type="button" value="Vymazat" onclick="resetForm()" />
          <p>Zaokrouhlit na<input th:field="${basicDTO.decimal}" type="number" name="decimal" id="decimal" placeholder="Desetinné" min="0" max="10" pattern="[0-9]+" required>desetinných míst (0-10)</p>
        </div>
      </form>
      <div class="result-container">
        <p>Výsledek: </p>
        <div class="result-textarea">
          <div th:if="${result != null}" th:class="${result == 'Chybný vstup' || result == 'Nulou nelze dělit' || result == 'Maximální délka čísla je 500 znaků' ? 'error' : ''}">
            <span th:text="${result}"></span>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
<script th:src="@{/scripts/script.js}"></script>
</body>
</html>