<!DOCTYPE html>
<html lang="en" xmlns:th="">

<head th:replace="~{fragments/layout.html :: head}"></head>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<main class="container">
    <article class="article-container">
        <h2>
            Jaký je faktoriál čísla n
        </h2>
        <div class="example">
            <p class="example">Příklad: </p>
            <p class="example">5! = 120</p>
            <p class="example">n! = 1*2*3*4*5</p>
            <p class="example">Pouze celá kladná čísla.</p>
        </div>
        <section class="section-container">
            <form action="/factorial" method="post">
                <label>
                    Číslo
                    <input th:field="${factorialDTO.number}" type="text" name="number" id="number">
                </label>

                <div class="button-container">
                    <input type="submit" value="Počítat" />
                    <input type="button" value="Vymazat" onclick="resetFormFactorial()" />
                </div>
            </form>
            <div class="result-container">
                <p>Výsledek: </p>
                <div class="result-textarea">
                    <div th:if="${result != null}" th:class="${result == 'Chybný vstup' || result == 'Maximální délka čísla je 10 znaků' ? 'error' : ''}">
                        <span th:text="${result}"></span>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
<script th:src="@{/scripts/script.js}"></script>
</body>

</html>