<!DOCTYPE html>
<html lang="en" xmlns:th="">

<head th:replace="~{fragments/layout.html :: head}"></head>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<main class="index-container">
  <article class="index-article">
    <h2>Welcome</h2>
    <section class="index-section">
      <p>Choose the calculator you need</p>
    </section>
  </article>
</main>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
<script th:src="@{/scripts/script.js}"></script>
</body>

</html>